@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Questrial&family=Roboto+Mono:wght@100;200;400&display=swap');

.container-box-profile {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.sub-content {
    display: flex;
    justify-content: space-around;
    gap: 400px;


}

.header-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.profile-img {
    width: 150px;
    height: 150px;
}

.person-name-profile {
    font-family: 'Pacifico', cursive;
    font-family: 'Questrial', sans-serif;
    font-family: 'Roboto Mono', monospace;
}